[submodule "/home/mariscal/web3/IFTTS-ETHGlobal/contracts/lib/dev-quickstart-oov3"]
	path = /home/mariscal/web3/IFTTS-ETHGlobal/contracts/lib/dev-quickstart-oov3
	url = https://github.com/UMAprotocol/dev-quickstart-oov3
